php_flag display_errors Off

RewriteEngine On
RewriteCond %{REQUEST_URI} !index.php
RewriteCond %{REQUEST_URI} !tailwind.css
RewriteCond %{REQUEST_URI} !styles.css
RewriteCond %{REQUEST_URI} !actions.php
RewriteCond %{REQUEST_URI} !logout.php
RewriteRule (.*) index.php?go=$1